* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, Roboto, sans-serif;
  background-color: orange;
  color: black;
  line-height: 1.5;
}

img {
  display: flex;
  align-items: center;
  max-width: 100%;
  border: 10px solid #0d161b;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  overflow: hidden;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 8px;
  margin: auto;
  background: #222b32;
}
.loader:before {
  content: '';
  position: absolute;
  inset: -15px;
  margin: auto;
  background: #de3500;
  animation: diamondLoader 2s linear infinite;
}
@keyframes diamondLoader {
  0%,
  10% {
    transform: translate(-64px, -64px) rotate(-45deg);
  }
  90%,
  100% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
}

.cat-information {
  margin-top: 30px;
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 500px;
}

.ok {
  width: 200px;
}
